########################################
# PERFIL SPRING
########################################
# Valores possíveis:
# dev | homolog | prod
SPRING_PROFILES_ACTIVE=dev


########################################
# BANCO DE DADOS (PostgreSQL)
########################################
POSTGRES_DB=auth_db
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_PORT=57184


########################################
# APLICAÇÃO
########################################
# Porta exposta no host
APP_PORT=8080


########################################
# OBSERVAÇÕES
########################################
# - NÃO versionar o .env real (use .gitignore)
# - Crie:
#   .env.dev
#   .env.homolog
#   .env.prod
#
# - Em produção:
#   - Use senha forte
#   - Não exponha a porta do banco
#   - Preferir secrets / vault
#
# Exemplo produção:
# POSTGRES_PORT=0
# APP_PORT=80
